[flake8]
ignore =
    # 1 blank line required before class docstring (ignored in favour of D211)
    D203,
    # One-line docstring should fit on one line with quotes (ignored, one-line
    # docstrings are ugly)
    D200,
    # Blank lines in docstrings are annoying
    D205,
    # Backslashes in docstrings used for documentation
    D301,
    # First line should end with a period (ignored because...)
    D400,
    # Imperative moods are a pain in the ass
    D401,
    # whitespace before ':' (ignored because black does this)
    E203,
    # Line length handled better in black
    E501,
    # Black says to ignore this one
    W503,
    # The input method in Python 2 will read from standard input.. we don't use 2
    S322,
    # Standard pseudo-random generators are not suitable for security/cryptographic purposes. We don't do this
    S311,

per-file-ignores =
    tests/*:
     	# Use of assert detected. The enclosed code will be removed when compiling
	    # to optimised byte code. (ignored because of pytest)
        S101,
	    # Sometimes the tests just run code without using local variables
        F841,
        # We don't require documentation in tests
        D100,
        D101,
        D102,
        D103,
        D104,
        D105,
        D202,
        D205,
        D210,
        D300,
        D301,
        D401,
        D403,
        D404,
        D406,
        D409,
        # It can be useful to have class names in test names e.g., test_raises_SomeException
        N802,
    eudemo/eudemo_tests/*:
     	# Use of assert detected. The enclosed code will be removed when compiling
	    # to optimised byte code. (ignored because of pytest)
        S101,
	    # Sometimes the tests just run code without using local variables
        F841,
        # We don't require documentation in tests
        D100,
        D101,
        D102,
        D103,
        D104,
        D105,
        D202,
        D205,
        D210,
        D300,
        D301,
        D401,
        D403,
        D404,
        D406,
        D409,
        # It can be useful to have class names in test names e.g., test_raises_SomeException
        N802,
    __init__.py:
        # Allow unused imports in __init__.py, so we can expose at parent module level
        F401,
        F403,
   bluemira/codes/__init__.py:
        # FreeCAD message removal function above imports
        E402,
    bluemira/codes/plasmod/api/_inputs.py:
        # We don't control the names of plasmod inputs
        N815,
    bluemira/codes/plasmod/api/_outputs.py:
        # We don't control the names of plasmod outputs
        N815,
    bluemira/geometry/parameterisations.py:
        # Lambdas are probably cleaner here
        E731,
    documentation/source/*:
        D100,
        D101,
    examples/geometry/optimisation_tutorial.ex.py:
        # Contains a URL that's too long for a single line
        W505,
    examples/optimisation/nonlinearly_constrained_problem.ex.py:
        # Has module level imports not at the top of the file
        E402,
        # Contains a URL that's too long for a single line
        W505,
    examples/optimisation/geometry_optimisation.ex.py:
        # Has module level imports not at the top of the file
        E402

exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # The conf file is mostly autogenerated, ignore it
    documentation,
    # Ignore the virtual environment
    .env,
    # Ignore other random stuff that people may have lying around
    .idea,
    .pytest_cache,
    htmlcov,
    # Ignore data
    generated_data,
    # versioneer is 3rd-party and we aren't liable for their code
    versioneer.py,
    bluemira/_version.py,

max-complexity = 20
max-doc-length = 89
max-line-length = 89
statistics = True
docstring-convention = numpy
pep8-naming = True

# Agreed exceptions to naming conventions - see CONTRIBUTING.md

ignore_names =
    *PROCESS*,
    *PLASMOD*,
    *NAME*,
    *BINARY*,
    *CAD*,
    *STP*,
    *STL*,
    *0D*,
    *1D*,
    *2D*,
    *3D*,
    *4D*,
    *5D*,
    BB,
    *VV*,
    *TS*,
    RS,
    *FW*,
    CR,
    EQ,
    DIV,
    *RM*,
    *HCD*,
    NB,
    EC,
    *IVC*,
    *TF*,
    *PF*,
    *CS*,
    *GS*,
    *TFV*,
    *TBR*,
    *LCFS*,
    *OIS*,
    *JT60SA*,
    *ITER*,
    princetonD,
    flatD,
    negativeD,
    negativeflatD,
    R_0,
    Z_0,
    B_0,
    I_p,
    Ip,
    A,
    F,
    Z_eff,
    T_e*,
    B*,
    *B_*,
    *Bt*,
    *Bx*,
    *Bz*,
    *Bp*,
    *Fz*,
    *m_T*,
    *DD*,
    *DT*,
    *SN*,
    *DN*,
    *CREATE*,
    Psol_near,
    Psol_far,
    *Class,
    *L_to_xz*,
    *xz_to_L*,
    *to_L*,
    *L_to_zdz*,
    get_Lmap,
    set_Lmap,
    *LFS*,
    *HFS*,
    *_OX_*,
    *_F,
    *eV,
    I_not_dI,
