# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @CoronelBuendia @je-cook @tplobo
*/base/ @je-cook @DanShort12 @hsaunders1904
*/builders/ @DanShort12 @hsaunders1904 @je-cook
*/codes/ @je-cook @ivanmaione @hsaunders1904
*/display/ @ivanmaione @DanShort12
*/equilibria/ @CoronelBuendia @je-cook @alexanderianblair @ivanmaione
*/fuel_cycle/ @CoronelBuendia
*/geometry/ @ivanmaione @CoronelBuendia @je-cook
*/magnetostatics/ @CoronelBuendia @ivanmaione @hsaunders1904
*/materials/ @DanShort12
*/mesh/ @ivanmaione
*/radiation_transport/ @CoronelBuendia @DarioV86
*/utilities/ @je-cook @CoronelBuendia

# Order is important; the last matching pattern takes the most
# precedence. eg js-owner would own all *.js files. Directories and wildcards can be specified etc
# no user can be used to default to global owner
# *.js    @js-owner
# *.go docs@example.com
# /build/logs/ @doctocat @doctocat2
# /build/info/
