appdirs==1.4.4
cached-property==1.5.2
cftime==1.6.2
gmsh-interop==2021.1.1
h5py==3.7.0
importlib-metadata==6.8.0
pybind11==2.11.0
pybind11-global==2.11.0
PySide2==5.15.5
pytools==2023.1
PyYAML==6.0
Shapely==2.0.1
shiboken2==5.15.5
sympy==1.12
typing_extensions==4.7.1
vtk==9.1.0
zipp==3.16.2
