argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
beautifulsoup4==4.11.1
bleach==5.0.0
cffi==1.15.0
defusedxml==0.7.1
fastjsonschema==2.15.3
ipython-genutils==0.2.0
Jinja2==3.1.2
jsonschema==4.5.1
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.1
mistune==0.8.4
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
notebook==6.4.11
pandocfilters==1.5.0
prometheus-client==0.14.1
pycparser==2.21
pyrsistent==0.18.1
Send2Trash==1.8.0
soupsieve==2.3.2.post1
terminado==0.15.0
tinycss2==1.1.1
webencodings==0.5.1
