anytree==2.8.0
asteval==0.9.27
Babel==2.10.3
click==8.1.3
CoolProp==6.4.1
cycler==0.11.0
fonttools==4.37.3
fortranformat==1.2.2
gmsh==4.10.5
imageio==2.22.1
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.5.3
neutronics-material-maker==0.1.11
nlopt==2.7.1
numba==0.56.2
numba-scipy==0.3.1
numexpr==2.8.3
numpy==1.22.4
packaging==21.3
pandas==1.5.0
periodictable==1.6.1
Pillow==9.2.0
Pint==0.19.2
pyclipper==1.3.0.post3
pyparsing==3.0.9
pypet==0.6.0
pyquaternion==0.9.9
python-dateutil==2.8.2
pytz==2022.2.1
scikit-learn==1.1.2
scipy==1.7.3
seaborn==0.12.0
six==1.16.0
tables==3.7.0
tabulate==0.8.10
threadpoolctl==3.1.0
typeguard==2.13.3
