anytree==2.8.0
asteval==0.9.29
Babel==2.12.1
click==8.1.3
contourpy==1.0.7
CoolProp==6.4.3.post1
cycler==0.11.0
fonttools==4.39.3
fortranformat==1.2.2
gmsh==4.11.1
imageio==2.28.0
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.1
neutronics-material-maker==0.1.11
nlopt==2.7.1
meshio==4.4.5
numba==0.56.4
numba-scipy==0.3.1
numexpr==2.8.4
numpy==1.22.4
packaging==23.1
pandas==2.0.0
periodictable==1.6.1
Pillow==9.5.0
Pint==0.20.1
pyclipper==1.3.0.post4
polyscope==1.3.1
pyparsing==3.0.9
pypet==0.6.1
pyquaternion==0.9.9
python-dateutil==2.8.2
pytz==2023.3
rich==13.3.4
scikit-learn==1.2.2
scipy==1.7.3
seaborn==0.12.2
six==1.16.0
tables==3.8.0
tabulate==0.9.0
threadpoolctl==3.1.0
typeguard==3.0.2
