argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
cffi==1.16.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
executing==2.0.1
fastjsonschema==2.19.1
importlib-resources==6.1.1
ipykernel==6.28.0
ipython==8.12.0
jedi==0.19.1
jsonschema==4.21.1
jupyter-client==8.6.0
jupyter-core==5.7.1
jupyterlab-pygments==0.3.0
jupytext==1.16.1
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
mistune==3.0.2
nbclient==0.7.4
nbconvert==7.14.1
nbformat==5.9.2
nest-asyncio==1.6.0
notebook==7.0.7
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
pyzmq==25.1.2
Send2Trash==1.8.2
soupsieve==2.5
stack-data==0.6.3
terminado==0.18.0
tinycss2==1.2.1
tornado==6.4
traitlets==5.14.1
wcwidth==0.2.13
webencodings==0.5.1
zipp==3.17.0
