services:
  bluemira:
    image: bluemira:latest
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix # X11 forwarding
      - $HOME/.Xauthority:/user/.Xauthority # X11 forwarding
      - /dev/dri:/dev/dri # Removes cad viewer warning for me
    environment:
      DISPLAY: $DISPLAY
    network_mode: host

  bluemira-develop:
    image: bluemira:develop
    extends:
      service: bluemira
    volumes:
      - ../:/home/user/bluemira
      - ../../process_dev:/home/user/process
