# Runs the bluemira examples and checks for errors
name: bluemira_examples

on:
  workflow_dispatch:
  schedule:
    # Runs every Monday at 04:37
    - cron: "37 4 * * 1"

jobs:
  examples:
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11"]
        process-version: ["v3.1.0"]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: bluemira
          environment-file: conda/environment.yml
          miniforge-version: "latest"
          use-only-tar-bz2: false
          miniforge-variant: Mambaforge
          use-mamba: true
          python-version: ${{ matrix.python-version }}

      - name: Install bluemira
        shell: bash -l {0}
        run: pip install -e .

      - name: Install PROCESS
        uses: ./.github/workflows/actions/process
        with:
          version: ${{ matrix.process-version }}

      - name: Run examples
        shell: bash -l {0}
        run: |
          # Exclude examples using plasmod or process, as these aren't available
          # to the CI runners
          # Reasons:
          # requires plasmod
          # requires plasmod
          # not an example
          # needs improvement #2999
          # weird pyvista import bug
          python ./scripts/run_examples.py \
            -e 'plasmod_example' \
            -e 'equilibria/fem_fixed_boundary' \
            -e 'codes/ext_code_script' \
            -e 'mesh/mesh_tutorial' \
